{% extends 'base.html' %}


{% block content  %}
<div id='cuatro-values'>
{% load static %} <img src="{% static "images/About1.png" %}" alt="home" width="55%" >
</div>
<hr /><br><br>
<div id="cuatro-values" class="container">
    <div class="row">
        <div class="col-sm-6">
            <!-- Insert imaGE -->
            {% load static %} <img src="{% static "images/orange1.png" %}" alt="home" width="30%" class="rounded mx-auto d-block">
            <br>
            <h3>Enjoy hundreds of tasty nutritious recipes</h3><br>
            <div>Enjoy hundreds of easy-to-cook recipes filled with nutritious and tasty food. All of the recipes include information about their nutritional value so you can keep track of your daily energy intake.</div>
        </div>
        <div class="col-sm-6">
            <!-- Insert imaGE -->
            {% load static %} <img src="{% static "images/trip1.png" %}" alt="home" width="30%" class="rounded mx-auto d-block">
            <br>
            <h3>Create your own health journey</h3><br>
            <div>To help you reach your goals and customize your health journey you can add your favorite meals, food items, recipes to your Favorites.</div>
          </div>
    </div>
    <br><br><br>
      <div class="row">
        <div class="col-sm-6">
            <!-- Insert imaGE -->
            {% load static %} <img src="{% static "images/pie1.png" %}" alt="home" width="30%" class="rounded mx-auto d-block">
            <br>
            <h3>Use the helpful nutrition information</h3><br>
            <div>Identify the food items you have in a recipe, and get the nutritional information you need to stay on track.</div>
        </div>
        <div class="col-sm-6">
            <!-- Insert imaGE -->
            {% load static %} <img src="{% static "images/ratings1.png" %}" alt="home" width="30%" class="rounded mx-auto d-block"><br>
            
            <h3>Food and meal ratings</h3><br>
            <div>Our rating system is designed to help you build new habits and make healthy choices every day.</div>
          </div>
      </div>
      <br><br><br>

</div>

{% endblock  %}