{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ration</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'  %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ration</a>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'about' %}">About</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href='#'>Recipes<span class="caret"></span>
        <ul class="dropdown-menu">
          <li><a href="{% url 'index' %}">Recipes List</a></li>
          <li><a href="#">Add Recipe</a></li>
        </ul>
      </li>
      {% if user.is_authenticated %}

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
          <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
      {% endif %}
        </ul>
    </div>
  </nav>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="container-fluid text-center ">
    <p>© 2023 Copyright ration.App</p>
  </footer>

  
</body>
</html>
