{% extends 'base.html' %}

{% block content %}

<div id="home-message">
    <div class="container-fluid text-center">
      <h1>Good health starts with what you eat</h1>      
      <p>Want to eat mindfully? Find healthy and nutricius recipes for your everyday </p><br><br>
      <button type="button" class="btn btn-primary" href="{% url 'recipe_create' %}">Add a recipe</button>
    <button type="button" class="btn btn-outline-primary" href="{% url 'index' %}">Recipe List</button>
    </div><br><br><br>
</div>

  <div class="container-fluid bg-3 text-center">    
    <h3>The Favorites</h3><br>
    <div class="row">
      
      {% for favorite in top_favorites %}
        <div class="col-sm-3">
        <h3>{{favorite.0.title}}</h3>
        <h4><span class="fa fa-star{% if favorite.0.average_rating < 1 %}-o {% endif %}"></span>
            <span class="fa fa-star{% if favorite.0.average_rating < 2 %}-o {% endif %}"></span>
            <span class="fa fa-star{% if favorite.0.average_rating < 3 %}-o {% endif %}"></span>
            <span class="fa fa-star{% if favorite.0.average_rating < 4 %}-o {% endif %}" ></span>
            <span class="fa fa-star{% if favorite.0.average_rating < 5 %}-o {% endif %}"></span>
        <img src="{{ favorite.0.image }}" class="img-responsive" style="width:100%" alt="Image"></h4>
      </div>
      {% endfor %}

    </div>
  </div><br>
  
{% endblock %}