{% extends 'base.html' %}


{% block content %}


{% if object %}
	<h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
	<h1>Add Recipe</h1>
{% endif %}
	

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
<table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
  width="100%">
  <thead>
    <tr>
      <th class="th-sm">Ingredient
      </th>
    </tr>
  </thead>
  <tbody>
	
	{% for ingredient in ingredients %}
		<tr>
			<td>
				{{ ingredient.name }}
			</td>
		</tr>
	{% endfor %}
		
	</tbody>
</table>	
	<input type="submit" value="Submit" class="btn">
</form>

<script>
$(document).ready(function () {
  $('#dtVerticalScrollExample').DataTable({
    "scrollY": "200px",
    "scrollCollapse": true,
  });
  $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock content %}