{% extends 'base.html' %}


{% block content %}


{% if recipe %}
	<h1>Edit <span class="teal-text">{{ recipe.name }}</span></h1>
{% else %}
	<h1>Add Recipe</h1>
{% endif %}
	

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<div class="d-flex justify-content-around align-items-start p-2 table-sm" cellspacing="0">
		<table id="ingredient-list" class="table">
			<thead>
				<tr>
					<th class="th-sm">Ingredient</th>
					<th class="th-sm">Amount</th>
				</tr>
			</thead>
			<tbody>
				
				
				{% for ingredient in ingredients %}
				<tr data-id="{{ ingredient.ingredient.id }}">
					<td class="name">
						<button class="removeIngredient" type="button">X</button> <span>{{ ingredient.ingredient.name }}</span>
					</td>
					<td>
						<input type="number" step="0.01" name="amount-{{ ingredient.ingredient.id }}" value="{{ ingredient.amount_tablespoons }}" min="0" required="">
					</td>
				</tr>	
				{% endfor %}
					
				
			</tbody>
		</table>
		<table id="ingredient-options" class="table table-hover table-striped table-bordered table-sm" cellspacing="0"
		width="100%">
		<thead>
			<tr>
			<th class="th-sm">Ingredient
			</th>
			</tr>
		</thead>
		<tbody>
			
			{% for ingredient in ingredient_list %}
				<tr class = "addIngredient" data-id="{{ ingredient.id }}">
					<td class="d-flex justify-content-between">
						<span>{{ ingredient.name }}</span> <button type="button">+</button>
					</td>
				</tr>
			{% endfor %}
				
			</tbody>
		</table>
	</div>
	<input type="submit" value="Submit" class="btn">
</form>

<script>
	$(document).ready(function () {
		$('#ingredient-options').DataTable({
			"scrollY": "200px",
			"scrollCollapse": true,
		});
		$('.dataTables_length').addClass('bs-select');
	});

	$('#ingredient-options').on('click', '.addIngredient', function(event) {
		row = $(this).closest('tr');
		$("#ingredient-list").find('tbody')
    	.append($(`<tr data-id=${row.data('id')}>
			<td class="name">
				<button class="removeIngredient" type="button">X</button> <span>${row.find('span').prop("innerText")}</span>
			</td>
			<td>
				<input type="number" step="0.01" name="amount-${row.data('id')}" min="0" required="">
			</td>
		</tr>`)
            )
		row.remove();
	});

	$('#ingredient-list').on('click', '.removeIngredient', function(event) {
		row = $(this).closest('tr');
		$('#ingredient-options').find('tbody')
		.append($(`<tr class = "addIngredient" data-id="${row.data('id')}">
					<td class="d-flex justify-content-between">
						<span>${row.find('span').text()}</span> <button type="button">+</button>
					</td>
				</tr>`)
		);
		row.remove();
	})
</script>
{% endblock content %}