{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <p>{{ recipe.image }}</p>
                <img src="{{ recipe.image }}">
                <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
                <h1 class="card-title" >
                <small class="text-muted">{{ recipe.title }}</small>
                
                {% if user.is_authenticated %}
                    {% if is_favorited %}
                        <a href="{% url 'unfavorite_recipe' recipe.id %}"><i class="fa fa-star"></i></a>
                    {% else %}
                        <a href="{% url 'favorite_recipe' recipe.id %}"><i class="fa fa-star-o"></i></a>
                    {% endif %}   
                {% endif %}
                    
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Directions: {{ recipe.directions }}</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Preparation time: {{ recipe.preparation_minutes }}</li>
                    <li>Cooking time: {{ recipe.cooking_minutes }}</li>
                    <li>Servings: {{ recipe.servings }}</li>
                    <li>Ingredients: <ul>
                    {% for ingredient in ingredients %}
                        <li>{{ingredient.amount_tablespoons}} Tbpns: {{ ingredient.ingredient.name }}</li>
                    {% endfor %}
                         </ul></li>
                    <li>Created by: <a href="{% url 'profile_detail' recipe.user.id %}">{{ recipe.user }}</a></li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<hr>
<h2 class="subtitle">Reviews</h2>
<div class="reviews-wrapper">
 {% for review in reviews %}
    <div class=" notification space-below">
        <p>
            <strong> Date: </strong> {{ review.date_added|date:"Y-m-d"}},
            <span class="fa fa-star{% if review.rating < 1 %}-o {% endif %}"></span>
            <span class="fa fa-star{% if review.rating < 2 %}-o {% endif %}"></span>
            <span class="fa fa-star{% if review.rating < 3 %}-o {% endif %}"></span>
            <span class="fa fa-star{% if review.rating < 4 %}-o {% endif %}" ></span>
            <span class="fa fa-star{% if review.rating < 5 %}-o {% endif %}"></span>
        </p>
        <p>
            {{ review.comment }}
        </br>
       <strong> Reviewer: </strong>
            <a href="{% url 'profile_detail' review.user.id %}">{{ review.user }}/</a>
        </p>
        
    </div>
  {% empty %}
      <div class="notification space-below">
        No reviews yet...
      </div>
  {% endfor %}
  </div>

  <div class="notification space-below">
    {% if request.user.is_authenticated  %}
    <form method="post" action="{% url 'add_review' recipe.id %}">
             {% csrf_token %}
          
            <div  class="control">
                <div class="select">
                    <select  name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Comment</label>
            <div class="control">
                <textarea class="textarea" name="comment"> </textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>
    {%  else %}
        <p> Please sign in to add review! </p>
    {% endif%}
  </div>
</div>


{% endblock %}