{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <p>{{ recipe.image }}</p>
                <img src="{{ recipe.image }}">
                <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
                <h1 class="card-title" >
                <small class="text-muted">{{ recipe.title }}</small>
                
                {% if user.is_authenticated %}
                    {% if is_favorited %}
                        <a href="{% url 'unfavorite_recipe' recipe.id %}"><i class="fa fa-star"></i></a>
                    {% else %}
                        <a href="{% url 'favorite_recipe' recipe.id %}"><i class="fa fa-star-o"></i></a>
                    {% endif %}   
                {% endif %}
                    
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Directions: {{ recipe.directions }}</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"></h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Preparation time: {{ recipe.preparation_minutes }}</li>
                    <li>Cooking time: {{ recipe.cooking_minutes }}</li>
                    <li>Servings: {{ recipe.servings }}</li>
                    <li>Ingredients: <ul>
                    {% for ingredient in ingredients %}
                        <li>{{ingredient.amount_tablespoons}} Tbpns: {{ ingredient.ingredient.name }}</li>
                    {% endfor %}
                         </ul></li>
                    <li>Created by: {{ recipe.user }}</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Delete</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}