{% extends 'base.html' %}

{% block content %}
<h1>Recipes List</h1>

  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input id="filter_name" type="text" class="filter form-control" placeholder="Search">
  </div>
  <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="advanced">
    Additional Filters <i class="fa fa-angle-down"></i>
  </a>

	<div class="collapse" id="collapseExample">
	<div class="card card-body">    
		<div class="row mb-4">
			<div class="col-md-4">
				<input id="filter_rating" type="number" min="0" max="5" placeholder="Rating" class="filter form-control">
			</div>
			<div class="col-md-4">
				<input id="filter_calorie" type="text" class="filter form-control" type="number" placeholder="Calories">
			</div>

		</div>
		<div class="row">
			<div class="col-md-4">
				<input id="filter_carbohydrate" type="text" class="filter form-control" type="number" placeholder="Carbohydrates">
			</div>
			<div class="col-md-4">
				<input id="filter_fat" type="text" class="filter form-control" type="number" placeholder="Fat">
			</div>
			<div class="col-md-4">
				<input id="filter_protein" type="text" class="filter form-control" type="number" placeholder="Protein">
			</div>
		</div>
	</div>
	</div>
  
{% for recipe in recipes %}

{% with nutrition=recipe.calculate_nutrition rating=recipe.average_rating%}

<div class="card recipe mb-1" data-title="{{ recipe.title }}" data-rating="{{ rating }} "

{% for key, value in nutrition.items %}
	data-{{ key }}="{{ value }}" 
{% endfor %}
	
>

	<a href="{% url 'detail' recipe.id %}" class="stretched-link">
    {% if recipe.image %}
				   <img src="{{ recipe.image.url }}" class="card-img-top" alt="Image">
				{% endif%}
   </a>
	<div class="card-body">
	<h2 class="card-title">{{ recipe }}</h2>
	<h4 class="card-subtitle"><span class="fa fa-star{% if rating < 1 %}-o {% endif %}"></span>
		<span class="fa fa-star{% if rating < 2 %}-o {% endif %}"></span>
		<span class="fa fa-star{% if rating < 3 %}-o {% endif %}"></span>
		<span class="fa fa-star{% if rating < 4 %}-o {% endif %}" ></span>
		<span class="fa fa-star{% if rating < 5 %}-o {% endif %}"></span></h4>
	<p class="card-text">{{ recipe.summary }}</p>
	</div>
</div>
{% endwith %}	
{% endfor %}



<script>
	$('.filter').on("input", filter)


	function filter(event){
		
		let nameFilter = $('#filter_name').val();
		nameFilter = nameFilter.toLowerCase().trim();
		const ratingFilter = $('#filter_rating').val();
		const calorieFilter = permitMinimum($('#filter_calorie').val());
		const carbohydrateFilter = permitMinimum($('#filter_carbohydrate').val());
		const fatFilter = permitMinimum($('#filter_fat').val());
		const proteinFilter = permitMaximum($('#filter_protein').val());
		$("div.recipe").each((i, e) => {
			title = $(e).data('title').toString().toLowerCase();
			rating = $(e).data('rating');
			calorie = permitMaximum($(e).data('calorie'));
			carbohydrate = permitMaximum($(e).data('carbohydrate'));
			fat = permitMaximum($(e).data('fat'));
			protein = permitMaximum($(e).data('protein'));
			console.log(protein)
			if (rating >= ratingFilter && title.includes(nameFilter) && calorie <= calorieFilter && carbohydrate <= carbohydrateFilter && fat <= fatFilter && protein >= proteinFilter){
				$(e).show();
			} else {
				$(e).hide();
			}
		}
		)
		function permitMinimum(input) {
			return input <= 0 ? Infinity : input
		}
		function permitMaximum(input) {
			return input <= 0 ? 0 : input
		}
	}
</script>
{% endblock content %}