{% extends 'base.html' %}


{% block content %}
   {% if searched %}
    <h1>You searched for "{{ searched }}".</h1>
    <br />
        {% for recipe in recipes %}
    <div class ="col-sm-6">
        <div class="card">
            <a href="{% url 'detail' recipe.id %}" class="stretched-link"><img src="{{ recipe.image.url }}" alt="recipe image cap" class="card-img-top"></a>
            <div class="card-body">
            <h2 class="card-title">{{ recipe }}</h2>
            <h4 class="card-subtitle"><span class="fa fa-star{% if recipe.average_rating < 1 %}-o {% endif %}"></span>
                <span class="fa fa-star{% if recipe.average_rating < 2 %}-o {% endif %}"></span>
                <span class="fa fa-star{% if recipe.average_rating < 3 %}-o {% endif %}"></span>
                <span class="fa fa-star{% if recipe.average_rating < 4 %}-o {% endif %}" ></span>
                <span class="fa fa-star{% if recipe.average_rating < 5 %}-o {% endif %}"></span></h4>
            <p class="card-text">{{ recipe.summary }}</p>
            </div>
        </div>
    </div>
        {% endfor %}
    {% else %}
    <h1>You forgot to enter a search form.</h1>
   {% endif %}
    
   
        
{% endblock content %}
    