{% extends 'base.html' %}


{% block content %}
   {% if searched %}

    <h3>You searched for "{{ searched }}".</h3>
    <br />
        {% for recipe in recipes %}
        <div class="card text-sm-left shadow p-3 ">
            <a href="{% url 'detail' recipe.id %}" class="stretched-link">

            {% if recipe.image %}
                <img class="float-left img-thumbnail mr-4" src="{{ recipe.image.url }}" alt="Image" width="13%">
            {% endif %}

                </a>
            <div class="card-body">
            <h4 class="card-title">{{ recipe }}</h4>
            <h5 class="card-subtitle"><span class="fa fa-star{% if recipe.average_rating < 1 %}-o {% endif %}"></span>
                <span class="fa fa-star{% if recipe.average_rating < 2 %}-o {% endif %}"></span>
                <span class="fa fa-star{% if recipe.average_rating < 3 %}-o {% endif %}"></span>
                <span class="fa fa-star{% if recipe.average_rating < 4 %}-o {% endif %}" ></span>
                <span class="fa fa-star{% if recipe.average_rating < 5 %}-o {% endif %}"></span></h5>
            <p class="card-text">{{ recipe.summary }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h4>You forgot to enter a search form.</h4>
   {% endif %}
    
   
        
{% endblock content %}
    