{% extends 'base.html' %}
{% block content %}

<div id="update-info-form">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3>Update Information</h3>

    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

    <!-- Add the login form -->
      <form method="post" enctype="multipart/form-data" action="" %}">
     {% csrf_token %}
      {{ form.as_p }}
      <input type="file" name="photo-file">
      <br><br>
  <input type="submit" class="btn btn-light" value="Update Profile">
</form>

{% endblock %}