{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-4">
    
    {% if profile.image %}
        <img src="{{profile.image.url }}" class="card-img-top" alt="">
    {% endif %}
        
      

      <h1>{{ profile.user.username }}</h1>

    <p>Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
    <p>Email: {{ profile.user.email }}</p>
    <hr>
  </div>
  <div class="col-sm-4">
    <h5>My Recipes:</h5>
    <ul>
        {% for recipe in recipes %}
          <li><a href="{% url 'detail' recipe.id %}">{{ recipe.title }}</a></li>
      {% empty %}
       <div class="notification space-below">
        No recipes.
      </div>
    {% endfor %}
  </ul>
  </div>
    <div class="col-sm-4">
      <h5>Favorite Recipes: </h5>
      <ul>
        {% for favorite in profile.favorites.all %}
          <li><a href="{% url 'detail' favorite.id %}">{{ favorite.title }}</a></li>
      {% empty %}
       <div class="notification space-below">
        No favorites.
      </div>
    {% endfor %}
  </ul>
</div>
</div>

{% endblock %}