{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-4 ">
    
       
    {% if profile.image %}
        <img src="{{ profile.image.url }}" class="card-img-top" alt="">

    {% else %}

      <div> 
      {% load static %} <img src="{% static "images/Profile.png" %}" alt="home" width="185px" height="210px">
      </div>
      
    {% endif %}
      <hr>
      <h5>User: {{ profile.user.username }}</h5>

    <p>Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
    <p>Email: {{ profile.user.email }}</p>
    <hr>
    
    {% if profile.user == request.user %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Edit Profile
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'profile_update' %}">Update Profile</a>
          <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
        </div>
      </div>
    {% endif %}
        
  </div>

  <div class="col-sm-4">

    <h5>My Recipes:</h5>
    <hr>
    <ul>
        {% for recipe in recipes %}
          <li ><a href="{% url 'detail' recipe.id %}">{{ recipe.title }}</a></li>
      {% empty %}
       <div class="notification space-below">
        No recipes.
      </div>
    {% endfor %}
  </ul>

  <hr>
  <a id="add-recipe-p" href="{% url 'recipe_create' %}"> <button type="button" class="btn btn-primary" >Add a recipe</button></a>
  </div>

  <div class="col-sm-4">
    <h5>Favorite Recipes: </h5>
    <hr>
      <ul>
        {% for favorite in profile.favorites.all %}
          <li><a href="{% url 'detail' favorite.id %}">{{ favorite.title }}</a></li>
      {% empty %}
       <div class="notification space-below">
        No favorites.
      </div>
    {% endfor %}
      </ul>
  </div>
</div>


{% endblock %}