body,html {
height:100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  background: #ffffff;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #e9e9e9;
}

main {
  flex: 1 0 auto;
}

body > .container {
  padding-top: 60px;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #e9e9e9;
  padding: 25px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.notification.space-below{
  margin-bottom: 20px;
}

#home-message {
  position:relative;
}

.card-group {
  flex-wrap: wrap;
}

table.dataTable {
  max-height: 10%;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.prewrap {
  white-space: pre-wrap
}

.card{
  padding: 1em;
}

h2{
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  color: #002147;
  margin-bottom: 20px;
}
.btn{
  font-size: 15px !important;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.5px;
  font-family: 'Nunito', sans-serif;
  box-shadow: none !important;
  border: 0;
  padding: 10px 20px !important;
}
.btn:focus{
  box-shadow: none;
}
.btn.btn-primary{
  background: #002147;
  color: #ffffff;
}
.form-group label{
  font-weight: 600;
  letter-spacing: 0.010em;
  font-size: 18px;
  margin-bottom: 5px;
}
.modal-body{
  background: #F3F5F9;
  border-radius: 10px;
}
.modal-body h4{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  color: #002147;
  margin-bottom: 20px;
}
.modal-body .form-control{
  box-shadow: none;
  height: 50px;
}